@{
    Layout = null;
}

<!DOCTYPE html>
<!-- beautify ignore:start -->
<html lang="en"
      class="light-style layout-menu-fixed"
      dir="ltr"
      data-theme="theme-default"
      data-assets-path="../assets/"
      data-template="vertical-menu-template-free">
<head>
    <meta charset="utf-8" />
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0" />

    <title>Traversal Proje Admin Sayfası</title>
    <meta name="description" content="" />

    <link rel="icon" type="image/x-icon" href="~/traversalAdmin/assets/img/favicon/favicon.ico" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="~/traversalAdmin/assets/vendor/fonts/boxicons.css" />
    <link rel="stylesheet" href="~/traversalAdmin/assets/vendor/css/core.css" class="template-customizer-core-css" />
    <link rel="stylesheet" href="~/traversalAdmin/assets/vendor/css/theme-default.css" class="template-customizer-theme-css" />
    <link rel="stylesheet" href="~/traversalAdmin/assets/css/demo.css" />
    <link rel="stylesheet" href="~/traversalAdmin/assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.css" />
    <link rel="stylesheet" href="~/traversalAdmin/assets/vendor/libs/apex-charts/apex-charts.css" />
    <script src="~/traversalAdmin/assets/vendor/js/helpers.js"></script>
    <script src="~/traversalAdmin/assets/js/config.js"></script>
</head>

<body>
    <div class="layout-wrapper layout-content-navbar">
        <div class="layout-container">
            <aside id="layout-menu" class="layout-menu menu-vertical menu bg-menu-theme">
                @await Html.PartialAsync("~/Views/Shared/AdminLayoutPartial/_AsidePartial.cshtml")
            </aside>
            <div class="layout-page">

                <nav class="layout-navbar container-xxl navbar navbar-expand-xl navbar-detached align-items-center bg-navbar-theme" id="layout-navbar">
                    @await Html.PartialAsync("~/Views/Shared/AdminLayoutPartial/_NavbarPartial.cshtml")
                </nav>

                <div class="content-wrapper">
                    <div class="container-xxl flex-grow-1 container-p-y">
                        @if (TempData["adminBreadcrumb"] != null)
                        {
                            <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">Admin / </span>@TempData["adminBreadcrumb"]</h4>
                        }
                        @RenderBody()
                    </div>

                    <footer class="content-footer footer bg-footer-theme">
                        @await Html.PartialAsync("~/Views/Shared/AdminLayoutPartial/_FooterPartial.cshtml")
                    </footer>

                    <div class="content-backdrop fade"></div>
                </div>
            </div>
        </div>
        <div class="layout-overlay layout-menu-toggle"></div>
    </div>
    @await Html.PartialAsync("~/Views/Shared/AdminLayoutPartial/_ScriptsPartial.cshtml")
    @RenderSection("AdminScripts",false)
</body>
</html>
