@{
    Layout = null;
}
<!doctype html>
<html lang="zxx">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Traversal</title>
    <link href="//fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700&display=swap" rel="stylesheet">
    <link href="//fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/traversal/assets/css/style-liberty.css">
</head>
<body>
    <!--header-->
    @await Html.PartialAsync("~/Views/Shared/LayoutPartial/_HeaderPartial.cshtml")
    <!-- //header -->
    @RenderBody()

    <!-- footer -->
    @await Html.PartialAsync("~/Views/Shared/LayoutPartial/_FooterPartial.cshtml")
    <!-- //footer -->
    @await Html.PartialAsync("~/Views/Shared/LayoutPartial/_ScriptsPartial.cshtml")
</body>

</html>