@{
    Layout = null;
}

<!doctype html>
<html lang="zxx">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>404 Error </title>
    <link href="//fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700&display=swap" rel="stylesheet">
    <link href="//fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,400&display=swap"
          rel="stylesheet">
    <link rel="stylesheet" href="~/traversal/assets/css/style-liberty.css">
</head>

<body>
    <section class="w3l-about-breadcrumb text-center">
        <div class="breadcrumb-bg breadcrumb-bg-about py-sm-5 py-4">
            <div class="container">
                <h2 class="title">Oooops Aradığınız Sayfa Bulunamadı...! </h2>
                <ul class="breadcrumbs-custom-path mt-2">
                    <li><a href="/Default/Index">Anasayfaya Dön</a></li>
                </ul>
            </div>
        </div>
    </section>
    <!-- Template JavaScript -->
    <script src="~/traversal/assets/js/jquery-3.3.1.min.js"></script>
    <script src="~/traversal/assets/js/theme-change.js"></script>
    <!--/MENU-JS-->
    <script>
        $(window).on("scroll", function () {
            var scroll = $(window).scrollTop();

            if (scroll >= 80) {
                $("#site-header").addClass("nav-fixed");
            } else {
                $("#site-header").removeClass("nav-fixed");
            }
        });

        //Main navigation Active Class Add Remove
        $(".navbar-toggler").on("click", function () {
            $("header").toggleClass("active");
        });
        $(document).on("ready", function () {
            if ($(window).width() > 991) {
                $("header").removeClass("active");
            }
            $(window).on("resize", function () {
                if ($(window).width() > 991) {
                    $("header").removeClass("active");
                }
            });
        });
    </script>
    <!--//MENU-JS-->

    <script src="~/traversal/assets/js/bootstrap.min.js"></script>

</body>

</html>