@model Reservation
@{
    ViewData["Title"] = "NewReservation";
    Layout = "~/Views/Shared/_MemberLayout.cshtml";
}
<div class="content-header row">
    <div class="content-header-left col-md-4 col-12 mb-2">
        <h3 class="content-header-title">Yeni Rezervasyon</h3>
    </div>
    <div class="content-header-right col-md-8 col-12">
        <div class="breadcrumbs-top float-md-right">
            <div class="breadcrumb-wrapper mr-1">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="#">Anasayfa</a>
                    </li>
                    <li class="breadcrumb-item active">Yeni Rezervasyon</li>
                </ol>
            </div>
        </div>
    </div>
</div>
<div class="content-body">
    <!-- Basic Tables start -->
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    @* <h4 class="card-title">Buttonalar yeri</h4> *@
                    <a class="heading-elements-toggle"><i class="la la-ellipsis-v font-medium-3"></i></a>
                    <div class="heading-elements">
                        <ul class="list-inline mb-0">
                            <li><a data-action="collapse"><i class="ft-minus"></i></a></li>
                            <li><a data-action="reload"><i class="ft-rotate-cw"></i></a></li>
                            <li><a data-action="expand"><i class="ft-maximize"></i></a></li>
                            <li><a data-action="close"><i class="ft-x"></i></a></li>
                        </ul>
                    </div>
                </div>
                <div class="card-content collapse show">
                    <div class="card-body">
                        <form method="post" class="res-form">
                            <div class="input-grids">
                                <div class="form-group">
                                    <select class="form-control" asp-for="DestinationID" id="txtDestination" asp-items="ViewBag.destinations">
                                        <option>Bir Rezervasyon Seçiniz</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <input type="number" asp-for="PersonCount" id="txtPersonCount" placeholder="Kişi Sayısı*" class="form-control" required="" />
                                </div>
                                <div class="form-group">
                                    <input type="date" asp-for="ReservatioDate" id="dateRes" placeholder="Tarih*" class="form-control" required="" />
                                </div>
                                <div class="form-group">
                                    <textarea asp-for="Description" id="txtDescription" placeholder="Varsa Eklemek İstedikleriniz..." class="form-control" required=""></textarea>
                                </div>
                            </div>
                            <div class="text-right">
                                <button class="btn btn-primary" type="submit" id="submitBtn">Rezervasyon Yap</button>
                            </div>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@section scripts{
    <script>
        $(document).ready(function () {
            Swal.fire({
                position: "center",
                icon: "success",
                title: "Sayfa Yüklendi"
            });
        });

        // $("#submitBtn").click(function () {
        //     debugger;
        //     var value = {
        //         Destination: $("#txtDestination").val(),
        //         PersonCount: $("#txtPersonCount").val(),
        //         ReservatioDate: $("#dateRes").val(),
        //         Description: $("#txtDescription").val(),
        //     }
        //     $.ajax({
        //         type: "POST",
        //         url: "/Member/Reservation/NewReservation",
        //         data: value,
        //         success: function (func) {
        //             console.log(func);
        //         }
        //     })
        // });
    </script>

}

