@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div class="row">

    <div class="col-lg-8 mb-4 order-0">
        @await Component.InvokeAsync("DashboardBanner")
    </div>
    <div class="col-lg-4 col-md-4 order-1">
        @await Component.InvokeAsync("Cards1Statistic")
    </div>

    <div class="col-12 col-lg-8 order-2 order-md-3 order-lg-2 mb-4">
        @await Component.InvokeAsync("TotalRevenue")
    </div>

    <div class="col-12 col-md-8 col-lg-4 order-3 order-md-2">
        @await Component.InvokeAsync("Cards2Statistic")

    </div>
</div>
<div class="row">

    <div class="col-md-6 col-lg-4 col-xl-4 order-0 mb-4">
        @await Component.InvokeAsync("DestinationStatistic")
    </div>

    <div class="col-md-6 col-lg-4 order-1 mb-4">
        @await Component.InvokeAsync("DestinationStatistic2")
    </div>

    <div class="col-md-6 col-lg-4 order-2 mb-4">
        @await Component.InvokeAsync("AdminGuideList")
    </div>
</div>



