@model List<DTOLayer.DTOs.AnnouncementDTOs.AnnouncementListDTO>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="card">
    <h5 class="card-header"><a href="/Admin/Announcement/AddAnnouncement" class="btn btn-primary">Yeni Duyuru</a></h5>
    <div class="table-responsive text-nowrap">
        <table class="table table-sm table-hover table-striped">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Başlık</th>
                    <th>İçerik</th>
                    <th>Düzenle</th>
                    <th>Sil</th>
                </tr>
            </thead>
            <tbody class="table-border-bottom-0">
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.AnnouncementID</td>
                        <td>@item.Title</td>
                        <td>@item.Content</td>
                        <td><a href="/Admin/Announcement/UpdateAnnouncement/@item.AnnouncementID" class="btn btn-sm btn-outline-warning">Düzenle</a></td>
                        <td><a href="/Admin/Announcement/DeleteAnnouncement/@item.AnnouncementID" class="btn btn-sm btn-outline-danger">Sil</a></td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
