@model Destination
@if (User.Identity.IsAuthenticated)
{
    <div class="leave-comment-form mt-5" id="reply">
        <h4 class="side-title mb-2">Yorum Bırak</h4>
        <p class="mb-4">
            İşaretli Alanları Doldurumanız Gereklidir *
        </p>
        <form method="post" asp-controller="Comment" asp-action="AddComment">
            <div class="form-group">
                <input type="hidden" name="DestinationID" value="@Model.DestinationID" />
                <textarea name="CommentContent" class="form-control" placeholder="Yorumunuz*" required="" spellcheck="false"></textarea>
            </div>

            <div class="submit text-right">
                <button class="btn btn-style btn-primary">Gönder</button>
            </div>
        </form>
    </div>
}
else
{
    <h3 class="text-center mt-3 text-danger">Yorum Yapabilmek İçin Giriş Yapmalısınız!!</h3>
}