@model List<Reservation>
@{
    ViewData["Title"] = "UserDestination";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div class="card">
    <div class="table-responsive text-nowrap">
        <table class="table table-sm table-hover table-striped">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Destinasyon</th>
                    <th>Tarih</th>
                    <th>Güncelle</th>
                    <th>Sil</th>
                </tr>
            </thead>
            <tbody class="table-border-bottom-0">
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.ReservationID</td>
                        <td>@item.Destination.City - @item.Destination.DayNight</td>
                        <td>@(((DateTime)item.ReservatioDate).ToString("dd-MMM-yyyy"))</td>
                        <td><a href="/Admin/Destination/UpdateDestination/@item.DestinationID" class="btn btn-sm btn-outline-warning">Güncelle</a></td>
                        <td><a href="/Admin/Destination/DeleteDestination  /@item.DestinationID" class="btn btn-sm btn-outline-danger">Sil</a></td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

